beautifulsoup4==4.11.1
flask==2.2.2
flask-graphQL==2.0.1
graphene-sqlalchemy
pikepdf==6.2.3
sqlalchemy==1.4.42
selenium==4.5.0
webdriver-manager==3.8.4
packaging==21.3
fake-useragent==0.1.11
tabula-py==2.5.1
ocrmypdf==14.0.1
pytest==7.2.0
rapidfuzz==2.13.2
